## API DE JAVA

# Target routes
/API/src/persistence/dao/target/*
/API/src/logic/mappers/target/*
/API/src/logic/dtos/target/*
/API/src/logic/commands/target/*
/API/src/common/utilities/target/*
/API/src/common/properties/target/*
/API/src/common/exceptions/target/*
/API/src/common/enums/target/*
/API/src/common/entities/target/*
/API/src/services/implementation/target/*

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

## APLICACION MOVIL

## APLICACION WEB